Auto-Invoice Processor (1WF).json
{
  "name": "Auto-Invoice Processor (1WF)",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "=File_invoice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1168,
        -128
      ],
      "id": "f348a366-a2e4-471e-a126-e53ec67ad276",
      "name": "Upload to Mistral",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Yki6CjTyEw1IfhHy",
          "name": "Mistral OCR Demo"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -944,
        -128
      ],
      "id": "0e16aadb-609e-4fa9-8e11-77f9e332c6f5",
      "name": "Get Signed URL",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Yki6CjTyEw1IfhHy",
          "name": "Mistral OCR Demo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        -128
      ],
      "id": "52fb8535-ba83-4464-99e0-55fe6b61492f",
      "name": "Get OCR Results",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Yki6CjTyEw1IfhHy",
          "name": "Mistral OCR Demo"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.pages[0].markdown }}",
        "attributes": {
          "attributes": [
            {
              "name": "invoice_id",
              "description": "Number or ID of the invoice.",
              "required": true
            },
            {
              "name": "Company_name",
              "description": "Name of the company that issued the invoice"
            },
            {
              "name": "issue_date",
              "type": "date",
              "description": "Issue date of the invoice"
            },
            {
              "name": "due_date",
              "type": "date",
              "description": "The due date of the invoice"
            },
            {
              "name": "status",
              "description": "Status of the invoice"
            },
            {
              "name": "total_amount",
              "type": "number",
              "description": "The total Amount of the invoice"
            },
            {
              "name": "tax_amount ",
              "description": "The Tax amount of the invoice"
            },
            {
              "name": "Product_Name",
              "description": "The name of the product or service"
            },
            {
              "name": "Product_Name2",
              "description": "The name of the second product or service"
            },
            {
              "name": "Product_Name3",
              "description": "The name of the third product or service"
            },
            {
              "name": "Product_Name4",
              "description": "The name of the fourth product or service"
            },
            {
              "name": "Product_Name5",
              "description": "The name of the fifth product or service"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -496,
        -128
      ],
      "id": "025ccb50-e80c-4e3f-a4e5-a7b649b5d63a",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -496,
        96
      ],
      "id": "1dddd078-b32d-41a1-a5af-3382cf2cb26f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "sNy49ggfN8RaP7am",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1OjuukyTLztRBtiyUS59mUDB4_zk6PGg-MqxZhDu2tDM",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OjuukyTLztRBtiyUS59mUDB4_zk6PGg-MqxZhDu2tDM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Blad1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OjuukyTLztRBtiyUS59mUDB4_zk6PGg-MqxZhDu2tDM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company_name": "={{ $json.output.Company_name }}",
            "invoice_id": "={{ $json.output.invoice_id }}",
            "issue_date": "={{ $json.output.issue_date }}",
            "due_date": "={{ $json.output.due_date }}",
            "status": "={{ $json.output.status }}",
            "total_amount": "={{ $json.output.total_amount }}",
            "tax_amount ": "={{ $json.output['tax_amount '] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "invoice_id",
              "displayName": "invoice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "issue_date",
              "displayName": "issue_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "due_date",
              "displayName": "due_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_amount",
              "displayName": "total_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tax_amount ",
              "displayName": "tax_amount ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company_name",
              "displayName": "Company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kolom 8",
              "displayName": "Kolom 8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Kolom 9",
              "displayName": "Kolom 9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Kolom 10",
              "displayName": "Kolom 10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        -128
      ],
      "id": "e280e896-1bde-45a2-a2b0-33142a9fd690",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yxYLyaB0zRwWE9RS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "Mistral AI OCR - AI will scan docs and images\n",
        "height": 208,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1216,
        -176
      ],
      "typeVersion": 1,
      "id": "ebca02c0-b967-450f-b2b3-ab683e5072af",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// Function node (not Function Item)\nconst item = items[0];\nconst bin = item.binary || {};\n// Adjust the prefix to your field's sanitized name:\nconst keys = Object.keys(bin).filter(k => k.startsWith('File_invoice'));\nreturn keys.map(k => ({\n  json: item.json,            // carry over your form fields\n  binary: { File_invoice: bin[k] }    // normalize to \"file\"\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        -224
      ],
      "id": "99c27a52-5dc6-4e27-8219-722972a86878",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1392,
        -224
      ],
      "id": "a67e1c24-56b4-4e11-a5e1-3b83bcb8c0ed",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1168,
        -528
      ],
      "id": "8a26cc4a-128e-4233-94bc-9692be92aef6",
      "name": "Wait",
      "webhookId": "e707fd79-f164-4e6b-b49d-e50d9cda6002"
    },
    {
      "parameters": {
        "formTitle": "INvoice processing",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File invoice",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1952,
        -224
      ],
      "id": "b1ba8fdf-3ac0-4a78-8ad9-f8e37fd4db71",
      "name": "Upload Files",
      "webhookId": "6292dcfe-8074-4b62-94f1-65e9532215cd"
    },
    {
      "parameters": {
        "content": "OpenAI will interpret data and format it",
        "height": 208,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        -192
      ],
      "typeVersion": 1,
      "id": "5d4c7bed-c532-4a62-86ab-0c5327033e7f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Form to submit docs/images\n\nCan be changed to Whatsapp too",
        "height": 304,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2048,
        -336
      ],
      "typeVersion": 1,
      "id": "c5bf5713-36b0-4100-b26f-49145974586a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Invoice Data filled into sheets automatically",
        "height": 208,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -192
      ],
      "typeVersion": 1,
      "id": "f34d59c1-2520-4882-9cfb-f48685034b1b",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Upload to Mistral": {
      "main": [
        [
          {
            "node": "Get Signed URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Signed URL": {
      "main": [
        [
          {
            "node": "Get OCR Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get OCR Results": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Upload to Mistral",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Files": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "de8977f0-c239-448e-af91-c1101ef8f4f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3887d9f903df2fbe0848b12db7915294696c754f88e396969ee333b0de68dfc2"
  },
  "id": "BxiDpA1WxY2KoCKi",
  "tags": []
}